{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita fuga possimus vel ex totam labore hic id vitae, aliquam voluptas iste beatae, magni reprehenderit sed velit vero reiciendis rem? Rerum labore eos beatae minima reprehenderit nihil delectus, minus perspiciatis perferendis vitae? Voluptatibus accusamus ab provident! Blanditiis dolores exercitationem mollitia iusto sunt unde eveniet, impedit officiis at ipsam perferendis dolore odit doloremque facilis iure totam repellat cumque corrupti temporibus. Laboriosam corrupti veniam iste doloremque nam! Pariatur vero repellendus dolores eius quia autem nemo ratione itaque perspiciatis? Beatae qui quas placeat quibusdam optio. Ducimus eveniet atque ratione eligendi suscipit laborum eius. Dolorum!</p>
{% endblock %}